<div class="span-24 last">
  <h1>Today's Billing</h1>
  <h2><%= @total %> / <%= @daily_goal %> hours</h2>

  <h3>Monthly Totals</h3>
  <h3><%= @monthly_total.to_i %> / <%= @monthly_goal %> hours</h3>
</div>
<div class="span-24 last">
  <div id="motivation">
    <%= @motivation %>
  </div>
</div>